table.dataTable td {
    font-size: 1.2em;
    text-align: center;
}

table.dataTable thead th {
    text-align: center;
    font-size: 1.2em;
    color: white;
}

.card {            
    height: 30vh;
}

.modal-full {
    min-width: 100%;
    margin: 0;
    cursor: none;
}

.modal-full .modal-content {
    min-height: 100vh;
}
.modal-body {
    position: initial !important;
}

.wrapper {
    display: flex;
    perspective: 900px;
}

.text-center span {
    display: inline-block;
    position: relative;
    font-size: 3vw;
    font-family: "Fredoka One", cursive;
    color: #f6ff6b;
    transition: all 0.5s;
    animation: rotate 10s ease-in infinite;
    animation-direction: alternate;
    letter-spacing: 0.5vw;
    -webkit-text-stroke: 1.5px #00AEEF;
}

@keyframes rotate {
    0% {
        transform: rotateY(90deg);
        text-shadow: 0 0 0 #963B60;
    }

    100% {
        transform: rotateY(0deg);
        text-shadow: 0.1em 0.1em 0.05em #F2E349;
    }
}
.hello {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: wave;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-family: "Righteous", cursive;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.hello:nth-of-type(1) {
    animation-duration: 2s;
    animation-delay: 0.55s;
}

.hello:nth-of-type(2) {
    animation-duration: 2s;
    animation-delay: 0.3s;
}

.hello:nth-of-type(3) {
    animation-duration: 2s;
    animation-delay: 0.05s;
}

.hello:nth-of-type(4) {
    animation-duration: 2s;
    animation-delay: -0.2s;
}

.nomor {
    font-size: 25vw;
}

.pengumuman {
    font-size: 10vw;
}

@keyframes wave {

    40%,
    50% {
        transform: translate(-50%, -65%) scale(1.05);
    }

    0%,
    90%,
    100% {
        transform: translate(-50%, -45%) scale(0.95);
    }
}

.prioritas {
	background-color: #60c7c1;
	color: #fff;
}